* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainView {
  overflow: auto;
  background-image: url("../public/assets/images/polka-dot.jpg");
  background-repeat: repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: LogoFont;
  src: url("../public/assets/fonts/kaufmann/KAUFMANB.ttf");
}

@font-face {
  font-family: bodyFont;
  src: url("../public/assets/fonts/Lato/Lato-Regular.ttf");
}

@media (max-width: 656px) {

  #roomCard {
    flex-direction: column;
  }
  #roomCard00 {
    height: 30vh;
  }
  
  #roomCard01 {
    border-bottom: 1px gray solid;
  }
  
}

@media (min-width: 657px) {
  #roomCard00 {
    width: 30%;

  }
  #roomCard01 {
    width: 45%;
  }
  #roomCard02 {
    width: 25%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic {
  width: 200px;
  width: 100px;
  border-radius: 50%;
}

.additionalInfo {
  font-style: italic;
}

.flexHorizontal {
  display: flex;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
}

.formStyles {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
  background-color: whitesmoke;
}

#logoTitle {
  font-size: xx-large;
  font-weight: 500;
  font-family: commando;
}

#logo {
  /* align-self: start; */
  background-color: black;
  padding: 10px;
  border: 1px black solid;
  color: white;
  font-size: xx-large;
  font-weight: 500;
  font-family: commando;
}


label {
  display: block;
  font-size: medium;
  font-weight: 600;
}

input {
  background-color: #e3d7ff;
  padding: 10px;
}

.limeButton {
  color: whitesmoke;
  background-color: #6874e8;
  cursor: pointer;
}

.navLink {
  background-color: transparent;
}

.popup {
  display: flex;
}

section {
  padding: 30px;
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  margin-bottom: 10px;
}
