* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainView{

    overflow: auto;
    background-image: url("../public/assets/images/bodyBG.jpg");
    background-size: contain;
    padding: 20px;

}
@font-face {
  font-family: LogoFont;
  src: url("../public/assets/fonts/kaufmann/KAUFMANB.ttf");
}

@font-face {
  font-family: bodyFont;
  src: url("../public/assets/fonts/Lato/Lato-Regular.ttf");
}

